@import "tachyons";

html {
  height: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  line-height: 1.61;
}

section {
  position: relative;
}

a {
  color: #4f4f4f;
  text-decoration: none;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url(/images/loading.gif);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center center;
  opacity: 1;
  transition: opacity 0s ease-in-out;
}

#loading.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease-in-out;
}

.ds {
  overflow-y: hidden;
}

.es {
  overflow-y: scroll;
}

.cp {
  cursor: pointer;
}

.pn {
  pointer-events: none;
}

.df {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Swiper */
.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-button-next {right: calc((100% - 896px)/2 - 40px); margin-top: 5px;}
.swiper-button-prev {left: calc((100% - 896px)/2 - 40px); margin-top: 5px;}

@media screen and (max-width: 960px) {
  .swiper-button-next {right: 10px;}
  .swiper-button-prev {left: 10px;}  
}

@media screen and (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }  
}

/* Modal */
.modal-0-2 {
  width: 100% !important;
  max-height: 90vh;
  height: 100%;
  padding: 3.5rem 0 2rem !important;
  border-radius: 3px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #333;
}

footer div {
  justify-content: space-between !important;
}