@import "tachyons";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  font-size: 14px;
  font-family:'Noto Sans TC', Roboto Slab, Hoefler Text, '微軟正黑體', Songti TC, serif;
  line-height: 1.61;
  letter-spacing: 2px;
  color: #4f4f4f;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

section {
  position: relative;
}

a {
  color: #4f4f4f;
  text-decoration: none;
  word-wrap: break-word;
}

img {
  vertical-align: top;
}

/* Typography */
h1,h2,h3,h4,h5,h6 {
  font-weight:400;
  letter-spacing:1px
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  letter-spacing: 4px;
}
@media screen and (max-width: 479px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
    letter-spacing: 3px;
  }
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5, p {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.5;
}

/* Overrides */
.mw8 {max-width: 80rem}
.w5 {width: 20rem}
.h5 {height: 20rem}
.blue {color: #4867b0;}
.bg-blue {background-color: #4867b0;}
.hover-bg-dark-blue:hover {background-color: #345291;}

#scrolling {
  bottom: 8vh;
}

@media screen and (max-width: 959px) {
  #scrolling {
    display: none;
  }  
}

/* Navigation */
#section-nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  top: calc(50% - 50px);
  right: 58px;
  z-index: 8;
}

@media screen and (max-width: 479px) {
  #section-nav {
    display: none;
  }

  #section-nav + p{
    display: none;
  }
}
#section-nav + p {
  position: fixed;
  top: calc(50% - 80px);
  right: 25px;
  z-index: 8;
  color: #9D9FA2;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



#section-nav a {
  text-indent: -65px;
  overflow: hidden;
  margin: 5px 0;
  transition: all .1s cubic-bezier(0.23, 1, 0.32, 1);
}

#section-nav a:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #9D9FA2;
  position: absolute;
  right: -20px;
  margin: 6px auto;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

#section-nav a:hover {
  text-indent: 0px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

#section-nav a:hover:before {
  background: #333;
  border: 1px solid #333;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

#section-nav a.active:before {
  background: #9D9FA2;
  border: 1px solid #9D9FA2;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Share */
.container {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px;
  width: 100%;
  pointer-events: none;
}

.banner {
  background-color: #4867B0;
}

.banner h3 {
  letter-spacing: 3px !important;
}

#fb-share {
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  z-index: 8;
  background: #4065b4;
  font-size: 18px;
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: all;
}

#fb-share:hover {
  background: #345291;
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

#za-share {
  top: 20px;
  left: 20px;
  height: 48px;
  z-index: 11; 
  line-height: 20px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: all;
}
@media screen and (max-width: 479px) {
  #za-share {
    display: none;
  }
}

#za-share.transparent {
  opacity: 0.5;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

#za-share:hover {
  opacity: 1;
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Home */
.topic {
  border-radius: 10px;
  min-height: 400px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.topic:hover {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  background: #ddd;
}

.home-image {
  max-width: 12rem;
  height: 12rem;
}

/* Topic */
.intro {
  min-height: 400px;
}

@media screen and (max-width: 959px) {
  .intro {
    min-height: auto;
    flex-direction: column;
  }
}

.o1-l, .o1 {order: 1;}
.o2-l, .o2 {order: 2; z-index: 1;}
#section-4 .o1-l > div {transform: scale(0.9); z-index: 1; position: relative;}
#section-4 .o2-l > div {transform: scale(1.1); z-index: 1; position: relative;}
#section-4 .o3-l > div {transform: scale(0.9); z-index: 1; position: relative;}
.o3-l, .o3 {order: 3;}

.cover-video {
  transform: scale(1.15);
}

@media screen and (max-width: 959px) {
  .o1-l {order: 2;}
  .o2-l {order: 1;}
  #section-4 .o1-l > div,
  #section-4 .o2-l > div,
  #section-4 .o3-l > div {transform: scale(1);}
  .o3-l {order: 3;}

  .cover-video {
    transform: scale(0.9);
  }
}

/* Scroll Transition Divs */
.hidediv {
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  position: relative;
}

.hideme {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) scale(0.975);
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.hideme-left {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100px) scale(0.975);
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.hideme-right {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100px) scale(0.975);
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.topImg {
  position: relative;
  overflow: hidden;
  background-color: #4867B0;
}

.topImg img{
  width: 100%;
  opacity: 1;
  vertical-align: top;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.topImg h3 {
  height: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.content-block:hover .topImg img{
  transform: scale(1.1);
  opacity: .2;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.content-block:hover .topImg h3{
  opacity: 1;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

#more_1.hide {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#more_2.hide {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
}

@media screen and (max-width: 959px) {
  #more_2.hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

/* Loading Gif */
#loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url(images/loading.gif);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center center;
  opacity: 1;
  z-index: 10;
  transition: opacity 0s cubic-bezier(0.23, 1, 0.32, 1);
}

#loading.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Custom Classes */

.tracked-tight { letter-spacing: -.05em; }
.tracked { letter-spacing: .1em; }
.tracked-m { letter-spacing: .25em; }
.tracked-l { letter-spacing: .5em; }
.tracked-mega { letter-spacing: .75em; }

hr {
  border-top: 1px solid #CBCCCE !important;
}

.mh3 {
  min-height: 4.5rem;
}

.ds {
  overflow-y: hidden;
}

.oys {
  overflow-y: scroll;
}

.oh {
  overflow-y: hidden;
  overflow-x: hidden;
}

.cp {
  cursor: pointer;
}

.pn {
  pointer-events: none;
}

.df {
  display: flex;
  align-items: center;
}

.dfjc {
  justify-content: center;
}

.dfc {
  flex-direction: column;
}

.afs {
  align-items: flex-start;
}

@media screen and (max-width: 959px) {
  .dfc-s {
    flex-direction: column;
  }  
}

.dfr {
  flex-direction: row;
}

.button {
  border-radius: 6px;
}

.button-round {
  border-radius: 100px;
}

/* Swiper */
.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-button-next {right: calc((100% - 1136px)/2 - 40px); margin-top: 40px;}
.swiper-button-prev {left: calc((100% - 1136px)/2 - 40px); margin-top: 40px;}

@media screen and (max-width: 959px) {
  .swiper-button-next {right: 10px;}
  .swiper-button-prev {left: 10px;}  
}

@media screen and (max-width: 479px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }  
}

/* Modal */
.overlay-0-0 {
  display: block !important;
  top: 0;
  z-index: 1000;
  padding: 1.2rem;
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.modal-0-2 {
  width: 100% !important;
  padding: 0px !important;
  border-radius: 3px;
  max-width: 800px !important;
  margin: 0 auto 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: visible;
  transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
  top: 100%;
  opacity: 0;
}

@media screen and (max-width: 479px) {
  .modal-0-2 {
    margin: 0 auto 120px;
  }
  .modal-close {
    display: block;
  }
  .closeIcon-0-3 {
    display: none;
  }
}

.modal-close {
  width: 48px;
  height: 48px;
  background: #111;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -84px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: none;
  padding: 10px;
  display: none;
}
.fill-white {
  fill: white;
}
.modal-full {
  width: calc(100% + 4rem);
  margin-left: -2rem;
}
.modal-show {
  top: 0%;
  opacity: 1;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal-center {
  top: 50%;
  transform: translateY(-50%);
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #333;
}

footer div {
  justify-content: space-between !important;
}

.button,
a {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

video {
  width: 100%    !important;
  height: auto   !important;
  vertical-align: top;
}

.video-container {
  position: relative;
  padding-bottom: 52.2%;
  padding-top: 30px;
  height: 0px;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

::selection {
  background: #4867B0; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #4867B0; /* Gecko Browsers */
  color: #fff;
}