@import "tachyons";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  font-size: 14px;
  font-family:'Noto Sans TC', Roboto Slab, Hoefler Text, '微軟正黑體', Songti TC, serif;
  line-height: 1.428571429;
  color: #333;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

section {
  position: relative;
}

a {
  color: #4f4f4f;
  text-decoration: none;
}

/* Typography */
h1,h2,h3,h4,h5,h6 {
  font-weight:400;
  letter-spacing:1px
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5, p {
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 26px;
}

/* Overrides */
.mw8 {max-width: 80rem}
.w5 {width: 20rem}
.h5 {height: 20rem}

#section-nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  top: calc(50% - 50px);
  right: 58px;
  z-index: 8;
}

@media screen and (max-width: 479px) {
  #section-nav {
    display: none;
  }
}

#section-nav a {
  text-indent: -65px;
  overflow: hidden;
  margin: 5px 0;
  transition: all .1s cubic-bezier(0.23, 1, 0.32, 1);
}

#section-nav a:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #333;
  position: absolute;
  right: -20px;
  margin: 6px auto;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

#section-nav a:hover {
  text-indent: 0px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

#section-nav a:hover:before {
  background: #333;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

#section-nav a.active:before {
  background: #999;
  border: 1px solid #999;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Share */
.container {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px;
  width: 100%;
}

#fb-share {
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  z-index: 10;
  background: #4065b4;
  font-size: 18px;
  opacity: 0.9;
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

#fb-share:hover {
  opacity: 1;
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

#za-share {
  top: 20px;
  left: 20px;
  height: 48px;
  z-index: 10; 
  line-height: 20px;
}

/* Home */
.topic {
  min-height: 400px;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.topic:hover {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  background: #ccc;
}

.home-image {
  max-width: 12rem;
  height: 12rem;
}

/* Topic */
.intro {
  min-height: 400px;
}

@media screen and (max-width: 959px) {
  .intro {
    min-height: auto;
    flex-direction: column;
  }
}

.o1-l, .o1 {order: 1;}
.o2-l, .o2 {order: 2;}

@media screen and (max-width: 959px) {
  .o1-l {order: 2;}
  .o2-l {order: 1;}
}

/* Scroll Transition Divs */
.hidediv {
  transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
}

.hideme {
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
}

#more {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1); 
  opacity: 1;
}

#more.hide {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
  height: 0;
  opacity: 0;
  overflow: hidden;
}

/* Loading Gif */
#loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url(images/loading.gif);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center center;
  opacity: 1;
  z-index: 9;
  transition: opacity 0s cubic-bezier(0.23, 1, 0.32, 1);
}

#loading.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Custom Classes */

.tracked-tight { letter-spacing: -.05em; }
.tracked { letter-spacing: .1em; }
.tracked-m { letter-spacing: .25em; }
.tracked-l { letter-spacing: .5em; }
.tracked-mega { letter-spacing: .75em; }

.mh3 {
  min-height: 4rem;
}

.ds {
  overflow-y: hidden;
}

.es {
  overflow-y: scroll;
}

.cp {
  cursor: pointer;
}

.pn {
  pointer-events: none;
}

.df {
  display: flex;
  align-items: center;
}

.dfjc {
  justify-content: center;
}

.dfc {
  flex-direction: column;
}

.dfr {
  flex-direction: row;
}

/* Swiper */
.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-button-next {right: calc((100% - 1136px)/2 - 40px); margin-top: 40px;}
.swiper-button-prev {left: calc((100% - 1136px)/2 - 40px); margin-top: 40px;}

@media screen and (max-width: 959px) {
  .swiper-button-next {right: 10px;}
  .swiper-button-prev {left: 10px;}  
}

@media screen and (max-width: 479px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }  
}

/* Modal */
.modal-0-2 {
  width: 100% !important;
  max-height: 80vh;
  height: 100%;
  padding: 56px 0px 32px 0px !important;
  border-radius: 3px;
  max-width: 800px !important;
}

@media screen and (max-width: 479px) {
  .modal-0-2 {
    padding: 56px 0px 16px 0px !important;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #333;
}

footer div {
  justify-content: space-between !important;
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}